* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.fullcontainer {
  width: 100%;
  height: 100vh;
  background: url('../../../assets/backgroundpicture.avif') center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  position: relative;
  z-index: 1;
}
.fullcontainer::before {
  content: '';
  position: absolute;
  background-color: rgba(168, 168, 168, 0.7);

  z-index: -1;
  width: 100%;
  height: 100%;
}
